@model EcommerceProject.Models.ForgetPasswordViewModel

@{
    Layout = null;
}

<h1>Mail Onaylama Formu</h1>
<form method="post">
    <div class="form-group">
        <h2>Mail Adresini giriniz</h2>
        <input class="form-control" type="text" asp-for="Email" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Şifre linki gönder</button>
    </div>
</form>
