

@model EcommerceProject.Models.ResetPasswordViewModel

@{
    Layout = null;
}

<h1>Mail Onaylama Formu</h1>
<form method="post">
    <div class="form-group">
        <h2>Şifre Giriniz</h2>
        <input class="form-control" type="text" asp-for="Password" />
        <br />
        <h2>Şifre Giriniz</h2>
        <input class="form-control" type="text" asp-for="ConfirmPassword" />
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Şifre Günceller</button>
    </div>
</form>
