
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="login/css/style.css">

    <title>Register</title>
</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>Sign Up to <strong>Colorlib</strong></h3>
                                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                                </div>
                                <form asp-action="Index" asp-controller="Register" method="post">
                                    <div class="form-group first">
                                        <label for="username">Kullanıcı Adı</label>
                                        <input type="text" class="form-control" id="Username" name="UserName" required>
                                    </div>
                                    <div class="form-group first">
                                        <label for="firstname">Adınız</label>
                                        <input type="text" class="form-control" id="Firstname" name="FirstName" required>
                                    </div>
                                    <div class="form-group first">
                                        <label for="lastname">Soy Adınız</label>
                                        <input type="text" class="form-control" id="Lastname" name="LastName" required>
                                    </div>
                                    <div class="form-group first">
                                        <label for="city">Şehir</label>
                                        <input type="text" class="form-control" id="City" name="City" required>
                                    </div>
                                    <div class="form-group first">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email" required>
                                    </div>
                                    <div class="form-group first">
                                        <label for="phone">Telefon Numarası</label>
                                        <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" required>
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Şifre</label>
                                        <input type="password" class="form-control" id="Password" name="Password" required>
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="confirm-password">Şifre Tekrar</label>
                                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                                    </div>

                                    <input type="submit" value="Sign Up" class="btn btn-pill text-white btn-block btn-primary">

                                    <span class="d-block text-center my-4 text-muted"> or sign up with</span>

                                    <div class="social-login text-center">
                                        <a href="#" class="facebook">
                                            <span class="icon-facebook mr-3"></span>
                                        </a>
                                        <a href="#" class="twitter">
                                            <span class="icon-twitter mr-3"></span>
                                        </a>
                                        <a href="#" class="google">
                                            <span class="icon-google mr-3"></span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
